.validation__message-hidden {
	display: none;
}

.validation__message {
	height: 10px;
	font-size: 14px;
	line-height: 18px;
	color: rgb(8, 177, 233);
}

@media (max-width: 767px) {
	.validation__message {
		font-size: 18px;
	}
}